html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: rgb(31, 55, 161);
}

h1 {
    margin-top: 40px;
    margin-bottom: 40px;
    color: white;
    text-align: center;
    font-size: 80px;
}

.container {
    max-width: 1024px;
    margin: auto;
}

#list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
    list-style: none;
}

.square {
    background-color: rgb(48, 160, 168);
    height: 125px;
    width: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
}

.fizz {
    background-color: rgb(23, 167, 35);
}

.buzz {
    background-color: rgb(209, 209, 18);
}

.fizzbuzz {
    background-color: rgb(179, 28, 28);
}